# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

react-frontend/app/node_modules
react-frontend/app/dist
react-frontend/app/dist-ssr
react-frontend/app/*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

react-frontend/app/.env
react-frontend/app/.history/

nest-api/app/dist
nest-api/app/node_modules
nest-api/app/.env

mongo/dbdata

